.loader {
    display: flex;
    justify-content: space-around;
    width: 120px;
    height: 120px;
}

.dot {
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: white;
    border-radius: 50%;
    animation: grow 1s linear infinite;
}

.two {
    transform: scale(0);
    animation-delay: 0.5s;
}

.three {
    transform: scale(0);
    animation-delay: 1s;
}

@keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}