p {
    margin: 0;
}

.section {
    width: 50%;
}

.container {
    display: grid;
    grid-template-areas: "city img weather" "temperature img min";
    padding: 0.5rem;
    width: 100%;
    border: 1px solid black;
    grid-gap: 1rem;
}

.city {
    grid-area: city;
    text-align: end;
}

.img {
    grid-area: img;
    width: 30%;
    align-self: center;
    justify-self: center;
}

.weather {
    grid-area: weather;
}

.temperature {
    grid-area: temperature;
    text-align: end;
}

.min {
    grid-area: min;
}